// Set all color values
$red: red;
$blue: blue;
$green: #d6e8e1;
$yellow: yellow;
$orange: orange;
$purple: #f1eff0;
$cyan: cyan;
$white: #ffffff;
$black: #010000;
$grey: #b1a8aa;
$gold: #aaa086;
$gold-dark: #9b8d6a;
$brown: #998d6d;
$grey-dark: #666666;


.grey {
    background: #dfdedd;
}
.grey-dark {
    background: $grey-dark;
}
.white {
    background: $white;
}
.gold {
    background: $gold;
}
.green {
    background: $green;
}
.purple {
    background: $purple;
}