#modal_screen {
    background-attachment: fixed;
    background-size: cover !important;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 120000;
}

#modal_content {
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    position: fixed;
    text-align: left;
    top: 0 !important;
    width: 100vw;
    z-index: 120001;
    background: #dbd8d6;
    left: 0 !important;

    @include mq(medium) {
        background: rgba(000, 000, 000, .8);
    }



    .btn-black {
        height: 38px !important;
        padding: .3rem 2rem 0 2rem !important;

        @include mq(medium) {
            height: 78px !important;
            padding: .3rem 4rem 0 4rem !important;
        }
    }

    .copy-content {
        text-align: center;

        @include mq(large) {
            padding: 6rem;
            text-align: left;

            h1 {
                text-align: left !important;
            }
        }
    }

    .background {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        // display: none;
        padding-bottom: 35%;

        // @include mq(medium) {
        //     display: block;
        // }
    }

    ul {
        margin: 0;
        padding: 0;
        
        li {
            list-style-type: none;
            display: inline-block;
        }
    }

    nav {
        padding-bottom: 2rem;

        a {
            margin-right: 0;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;

            @include mq(large) {
                justify-content: flex-start;
            }

            li {
                margin: 0 .5rem;
            }
        }
    }

    .small {
        padding-top: 1rem;
    }

    .small,
    .agree {
        font-family: mrs-eaves-xl-serif, serif !important;
        font-weight: 400;
        font-style: normal;
        font-size: 16px !important;
        line-height: 1.2 !important;
        text-rendering: optimizeLegibility;

        input[type="checkbox"] {
            margin: 0 .5rem 1rem 0;
        }

        a {
            color: $gold-dark !important;

            &:hover {
                color: $gold-dark !important;
                opacity: .6;
            }
        }
    }


    #modal_content_wrapper {
        position: relative;
        width: 100%;
        height: 100%;

        .grid-container {
            position: relative;
            top: 0;

            @include mq(large) {
                top: 50%;
                transform: translateY(-50%);

            }

            .grid-x {
                background: #dbd8d6;
                

                @include mq(medium) {
                    position: fixed;
                    top: 50%;
                    transform: translateY(-50%);
                }

                @include mq(large) {
                    position: relative;
                    top: auto;
                    left: auto;
                    transform: none;
                }
            }

        }
    }
}


.fancybox-container {
    z-index: 9999222222 !important;

}