.content-template {
    padding: 6rem 0 6rem;

    legend {
        padding-bottom: 4rem;
    }

    label {
        font-family: alternate-gothic-no-2-d,
                sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        letter-spacing: 2px;
        text-rendering: optimizeLegibility;
        text-transform: uppercase;
        text-align: left
    }

    #wpcf7-f4-p98-o1>form {
        max-width: 65%;
    }

    .wpcf7 {
        float: left;
    }

    .wpcf7 .small {
        float: left;
        margin: 0 2% 1% 0;
        max-width: 100%;
        width: 100%;

        @include mq(large) {
            max-width: 31%;
        }
    }

    .wpcf7 .medium {
        float: left;
        margin: 0 2% 1% 0;
        width: 100%;
        max-width: 100%;

        @include mq(large) {
            max-width: 47.5%;
        }
    }

    .wpcf7 .large {
        float: left;
        margin: 0 0 1% 0;
        max-width: 100%;
        width: 100%;


        @include mq(large) {
            max-width: 96.5%;
        }
    }

    .wpcf7 .clear {
        clear: both;
    }

    // p {
    //     font-family: alternate-gothic-no-2-d,
    //         sans-serif;
    //     font-weight: 400;
    //     font-style: normal;
    //     font-size: 20px;
    //     letter-spacing: 2px;
    //     text-rendering: optimizeLegibility;
    //     text-transform: uppercase;
    // }

    .wpcf7-submit {
        transition: background .4s ease-in-out;
        font-family: alternate-gothic-no-2-d, sans-serif !important;
        font-weight: 400 !important;
        font-style: normal !important;
        height: 78px !important;
        color: $white !important;
        font-size: 20px !important;
        text-transform: uppercase !important;
        margin-top: 1rem !important;
        padding: 0 4rem !important;
        cursor: pointer !important;
        width: auto !important;
        position: relative !important;
        background: $black !important;
        letter-spacing: 2px !important;
        text-rendering: optimizeLegibility;

        @include mq(large) {
            font-size: 16px !important;
        }
        @include mq(xxlarge) {
            font-size: 20px !important;
        }

        &:hover {
            background: $grey !important;
        }
    }

    input[type="text"],
    input[type="email"] {
        border: 1px solid $black;
        box-shadow: none !important;
        width: 100% !important;
        letter-spacing: 2px;
        background: #dfdedd;

        &::placeholder,
        &:placeholder-shown {
            text-align: left;
            letter-spacing: 2px;
            color: $black !important;
            opacity: 1 !important;
        }
    }

    input {
        font-family: alternate-gothic-no-2-d,
                sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        letter-spacing: 2px;
        text-rendering: optimizeLegibility;
        text-transform: uppercase;
        text-align: left;
        color: $black !important;
    }

    select {
        border: 1px solid $black;
        box-shadow: none !important;
        width: 100% !important;
        background-color: transparent;
        font-family: alternate-gothic-no-2-d,
                sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        letter-spacing: 2px;
        text-rendering: optimizeLegibility;
        text-transform: uppercase;
        text-align: left;
        color: $black !important;
   

        &::placeholder,
        &:placeholder-shown {
            text-align: center;
            letter-spacing: 2px;
            opacity: 1 !important;
        }
    }


    span.wpcf7-not-valid-tip {
        position: relative;
        text-align: center;
        font-family: alternate-gothic-no-2-d,
                sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        letter-spacing: 2px;
        text-rendering: optimizeLegibility;
        text-transform: uppercase;
        text-align: center;
    }

    div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
        border: 2px solid #f00;
    }

    ul {
        li {
            font-family: mrs-eaves-xl-serif, serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            line-height: 1.2 !important;
            text-rendering: optimizeLegibility;
        }

        a {
            color: $gold-dark;
            &:hover {
                color: $gold-dark
            }
        }
    }

    a {
        color: $gold-dark !important;
        &:hover {
            color: $gold-dark !important;
        }
    }
}