.dcomm-store-main {
    padding-top: 3rem;

    .heading-2 {
        text-align: center;

        a {
            color: $black;
            text-transform: uppercase;

            &:hover {
                color: $grey;
            }
        }
    }

    .ecp_CategoryWithProducts {
        .heading-1 {
            text-align: center;
            padding: 2rem 0;
        }
    }

    .btn-black {
        transition: background .4s ease-in-out;
        font-family: alternate-gothic-no-2-d, sans-serif;
        font-weight: 400;
        font-style: normal;
        height: 78px;
        color: $white;
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 0;
        padding: .3rem 2rem 0 2rem;
        cursor: pointer;
        width: 100%;
        position: relative;
        background: $black;
        letter-spacing: 2px;
        text-rendering: optimizeLegibility;
        border: none !important;

        @include mq(medium) {
            font-size: 16px !important;
            padding: .3rem 1rem 0 1rem;
        }

        @include mq(large) {
            font-size: 16px !important;
            padding: .3rem 1rem 0 1rem;
        }

        @include mq(xxlarge) {
            padding: .3rem 4rem 0 4rem;
        }

        &:hover {
            background: $grey;
        }
    }

    .ecp-box-header {
        background: $green !important;

        a {
            color: $black;
        }
    }

    .ecp-callout-box {
        background: $green;
    }

    .ecp-option,
    .account a,
    .ecp_CreateCustomerThankYou a {
        color: $gold-dark;
        font-family: alternate-gothic-no-2-d,
            sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        letter-spacing: 2px;
        text-rendering: optimizeLegibility;
        text-transform: uppercase;
    }

    .ecp_ProductDetail {
        .btn-black {
            @include mq(large) {
                font-size: 20px !important;
            }
        }
    }

    select {
        padding: 0.5rem 1.5rem 0.5rem 0.5rem !important;
    }

    .custom-category-with-products select,
    .product-detail select {
        border: 1px solid $black !important;
        cursor: pointer;
        height: 78px;
        padding: 0.5rem 1.5rem 0.5rem 0.5rem !important;
    }

    .ecp_ProductDetail {
        .ecp-price {
            margin-bottom: 1.5rem;
        }
    }

    .ecp-payform-frame {
        width: 100%;
    }

    .cart_EmptyCart,
    .cart_GeneralCart,
    .ecp_LocateAccount,
    .ecp_CreateAccount,
    .checkout_ShippingAddress,
    .ecp_SelectPickupLocation,
    .checkout_BillingAddress,
    .ecp_CreatePaymentMethod--checkout,
    .ecp_EditBillingAddress--checkout,
    .ecp_EditShippingAddress--checkout,
    .ecp_SelectShippingAddress,
    .account-found,
    .cart_Remove,
    .account_Dashboard,
    .account_EditProfile,
    .account_EditBillingAddress,
    .account_ShippingAddresses,
    .ecp_EditShippingAddress,
    .ecp_CreatePaymentMethod,
    .account_ChangePassword,
    .ecp_ChangePasswordComplete,
    .logout,
    .forgot-password,
    .signup,
    .eCellar-modal,
    .ecp_CreateShippingAddress,
    .ecp_EditClubSubscription,
    .ecp_OrderDetail,
    .ecp_Orders,
    .ecp_PaymentMethods,
    .ecp_ReplacePaymentMethod,
    .ecp_Reservations,
    .ecp_OrderReview,
    .ecp_ReplacePaymentMethod--checkout,
    .ecp_SelectPaymentMethod,
    .ecp_SelectPickupLocation,
    .ecp_SelectShippingAddress,
    .ecp_ResetPassword,
    .ecp_CreateCustomer,
    .ecp_JoinClub,
    .ecp_JoinClub__CreateBillingAddress,
    .ecp_JoinClub__CreateCustomer,
    .ecp_JoinClub__CreateShippingAddress,
    .ecp-component {
        padding-bottom: 4rem;
    }

    input,
    select {
        border: 1px solid $black !important;
    }

    .ecp-stepper {

        .ecp-stepper-step,
        .ecp-stepper-line {
            border: 1px solid $black;
            color: $black;
            line-height: 1.9rem !important;
            cursor: pointer;
        }

        .ecp-stepper-active {
            background: $gold;
        }
    }

}

.cartCount {
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
    padding: 0px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 0px;

}

.ecp_MiniCart {
    a {

        &:hover {
            .cartCount {
                transition: .5s ease-in-out;
                background: black;
                color: $white;
            }
        }

        &:before {
            display: none !important;
        }
    }
}


.dcomm-menu {
    h4 {
        font-size: 26px;
        font-family: mrs-eaves-xl-serif, serif;
        font-weight: 600;
        font-style: normal;
        text-rendering: optimizeLegibility;
        text-align: center;
    }

    h5 {
        font-family: alternate-gothic-no-2-d,
            sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        letter-spacing: 2px;
        text-rendering: optimizeLegibility;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
    }

    .dcomm-menu-single {
        padding-bottom: 0;
    }

    .dcomm-toggle-menu {
        background: $white;
        border-top: 1px solid $black;
        border-right: none;
        border-bottom: none;
        border-left: none;
        box-shadow: 0px 3px 4px -2px rgba(110, 109, 110, 0.58);
    }

    a {
        font-family: mrs-eaves-xl-serif, serif;
        font-weight: 400;
        font-style: normal;
        font-size: 25px;
        line-height: 1.2 !important;
        text-rendering: optimizeLegibility;
        color: $black;

        @include mq(medium) {
            font-size: 20px;
        }

        &:hover {
            opacity: .7;
        }
    }
}