.events-list.tribe-bar-is-disabled #tribe-events-content-wrapper {
    max-width: 100% !important;
    margin: 0;
}

#tribe-events-content-wrapper li {
    list-style-type: none;
}

.widget .widgettitle {
    display: none;
}

.type-tribe_events {
    display: flex !important;
    flex-direction: column !important;
    padding-bottom: 3rem !important;
}

.tribe-events-event-body {
    p {
        font-family: mrs-eaves-xl-serif,
            serif !important;
        font-weight: 400;
        font-style: normal;
        font-size: 16px !important;
        line-height: 1.2 !important;
        text-rendering: optimizeLegibility;
        text-transform: initial !important;

        @include mq(medium) {
            font-size: 20px;
        }
    }
}

.event-is-recurring {
    a {
        color: $gold;
    }
}

.tribe-events-list .tribe-events-loop .tribe-events-event-image {
    float: none !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100%;
}

.tribe-events-list .type-tribe_events:first-of-type {
    margin-top: 0 !important;
}

.imagery-calendar-wrapper {
    padding-top: 2rem;
}

.imagery-calendar .description {
    padding: 6rem 0 4rem !important;
}

.tribe-events-loop .tribe-events-event-meta {
    background: transparent !important;
    border: none !important;
    margin-top: 12px;
    padding: 0 !important;
}

.list-events {
    .paragraph-2 {
        margin-top: 1rem;
        margin-bottom: 0 !important;
        padding-bottom: 1rem;
        color: $black !important;
        line-height: 1;

        &:hover {
            color: $grey !important;
        }
    }
}

#tribe-events-header {
    display: none;
}

.tribe-event-schedule-details {
    font-family: alternate-gothic-no-2-d,
        sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .08rem;
    text-transform: uppercase;
}

.tribe-events-event-image {
    align-self: center;
    transition: transform .4s ease-in-out;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);

    img {
        width: 100% !important;
        max-height: 100% !important;
    }

}

.categories-container {
    display: flex;
    flex-direction: row;

    a {
        display: inline-block;
        padding-right: 1rem;
        color: $grey;
        transition: .2s ease-in;
        text-transform: uppercase;
        font-family: alternate-gothic-no-2-d,
            sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        letter-spacing: .08rem;

        &:hover {
            opacity: .7;
        }
    }
}

#custom-post-type-categories-dropdown-4 {
    border-radius: 20px !important;
    color: $black;
    transition: .2s ease-in;
    text-transform: uppercase;
    font-family: alternate-gothic-no-2-d,
        sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .08rem;
    text-align: center;
    padding-left: 15px;
    position: relative;
    padding-top: 7px;
    background-position: right -.5rem center;
    appearance: none;
    cursor: pointer !important;
    margin-bottom: 30px;
}

.tribe-mini-calendar thead {
    background: transparent !important;
    border: none !important;
}

.tribe-mini-calendar-nav {
    div {
        margin-bottom: 1.5rem;
    }
}

.tribe-mini-calendar-nav td {
    background: transparent !important;
    border-color: transparent !important;

    a {
        text-transform: uppercase;
        font-family: alternate-gothic-no-2-d,
            sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        letter-spacing: .08rem;
    }

    span {
        color: $black !important;
        text-transform: uppercase;
        font-family: alternate-gothic-no-2-d,
            sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        letter-spacing: .08rem;
    }


}

.tribe-mini-calendar th {
    background: transparent !important;
    border: none !important;
    color: $black !important;
    font-weight: 700;
}

.tribe-mini-calendar .tribe-events-past {
    opacity: 1 !important;
    padding: .7rem 0 .1rem !important;
    background: transparent;
    color: $grey !important;
    font-family: alternate-gothic-no-2-d,
        sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .08rem;

    span {
        color: $grey !important;
    }
}

.tribe-mini-calendar .tribe-events-othermonth {
    opacity: 1 !important;
    padding: .7rem 0 .1rem !important;
    background: transparent !important;
    color: $grey !important;
    font-family: alternate-gothic-no-2-d,
        sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .08rem;

    span {
        color: $grey !important;
    }
}

.tribe-events-list .time-details,
.tribe-events-list .tribe-event-schedule-details {
    margin-bottom: 0;
    padding: 0 !important;
}

.tribe-events-thismonth {
    font-family: alternate-gothic-no-2-d,
        sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .08rem;
    padding: .7rem 0 .1rem !important;
    background: transparent !important;

    span {
        color: $black;
    }
}

.tribe-mini-calendar-no-event {
    background: transparent !important;
}

tbody tr:nth-child(even) {
    border-bottom: 0;
    background-color: transparent;
}

.tribe-events-has-events {
    background: $green !important;

    a {
        color: $black !important;

        &:hover {
            background: $green !important;
            opacity: .35;
        }

        &:before {
            display: none !important;
        }
    }

}

.tribe-events-adv-list-widget {
    margin-top: 4rem;
}

.tribe-mini-calendar-event {
    border-bottom: none !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.tribe-mini-calendar-event .list-date {
    background: $green !important;
    border: none !important;

    span {
        color: $black !important;
    }
}

.tribe-mini-calendar-event .list-date .list-dayname {
    color: $black !important;
}

.tribe-mini-calendar-event .list-date {
    border: 1px solid $grey !important;
    padding: 0 !important;
}

.tribe-events-title {
    a {
        font-family: mrs-eaves-xl-serif, serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        color: $black !important;

        &:hover {
            color: $grey !important;
        }
    }
}

.tribe-events-duration {
    font-family: alternate-gothic-no-2-d, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .08rem;
    text-transform: uppercase;
}

.tribe-events-widget-link {
    display: none;
}



//  SINGLE EVENT
.tribe-events-single {
    padding: 4rem 0 !important;

    form {
        select {
            border-radius: 20px !important;
            color: $black;
            transition: .2s ease-in;
            text-transform: uppercase;
            font-family: alternate-gothic-no-2-d,
                sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
            letter-spacing: .08rem;
            text-align: center;
            padding-left: 15px;
            position: relative;
            padding-top: .35rem;
            background-position: right -.5rem center;
            appearance: none;
            cursor: pointer !important;
            margin-bottom: 30px;
        }
    }

    h1 {
        margin: 0;
    }

    .heading-1 {
        padding: 1rem 0 .5rem !important;
        margin-bottom: .5rem;
    }

    .event_title_info {
        h2 {
            margin: 0;

            span {
                font-family: mrs-eaves-xl-serif, serif;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
            }
        }
    }

    .title-info {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .tribe-events-schedule {
        margin: 0 !important;
        background: none !important;
        border: none !important;
    }

    .tribe-events-event-image {
        margin: 4rem 0;
    }

    .all-events-link {
        font-family: alternate-gothic-no-2-d,
            sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        letter-spacing: .08rem;
        color: $gold !important;
        text-transform: uppercase;
    }

    .tribe-events-single-event-description a {
        font-family: alternate-gothic-no-2-d,
            sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        letter-spacing: .08rem;
        color: $gold !important;
    }

}

.single-tribe_events .tribe-events-event-meta {
    background: none !important;
    border: none !important;
    margin: 30px 0;
}

.tribe-events-event-meta .column,
.tribe-events-event-meta .tribe-events-meta-group {
    padding: 0 !important;
}

.tribe-events-event-meta .column,
.tribe-events-event-meta .tribe-events-meta-group {
    width: 100% !important;
}

.tribe-events-button {
    padding: 1rem 1rem !important;
    font-family: alternate-gothic-no-2-d,
        sans-serif;
    font-weight: 400 !important;
    font-style: normal;
    font-size: 18px !important;
    letter-spacing: .08rem !important;
    color: $black !important;
    text-transform: uppercase;
    background: $green !important;

    &:hover {
        background: $grey !important;
        color: $green !important;
    }
}

.tribe-events-nav-pagination {
    .btn-underline {
        &:after {
            bottom: 0 !important
        }
    }

}

.tribe-events-sub-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 2rem 0 0 !important;
}

#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous,
#tribe-events-footer .tribe-events-sub-nav li,
#tribe-events-header .tribe-events-sub-nav .tribe-events-nav-previous,
#tribe-events-header .tribe-events-sub-nav li {
    float: none !important;
    margin-right: 5px;
    text-align: left;
    width: auto !important;
}

.tribe-events-event-cost {
    display: block !important;
}

.tribe-events-notices {
    background: $gold;
    border-radius: 4px;
    border: 1px solid $gold;
    color: $white;
    margin: 10px 0 18px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 #fff;
}

.tribe-events-event-categories,
.tribe-events-meta-group-venue {
    a {
        color: $gold !important;

        &:hover {
            color: $grey !important;
        }
    }
}

.events-list #tribe-events-footer,
.single-tribe_events #tribe-events-footer,
.tribe-events-day #tribe-events-footer,
.tribe-events-map #tribe-events-footer,
.tribe-events-photo #tribe-events-footer {
    border-top: none !important;
    padding-top: 0 !important;
}

#tribe-events-content {
    margin-bottom: 20px !important;
}

.tribe-events-location {
    display: none !important;
}

hr {
    display: none;
}

.single-tribe_events #tribe-events-content .tribe-events-event-meta dd {
    margin: 0 0 20px;
}


@media screen and (max-width: 1023px) {
    .tribe-events-meta-group {
        text-align: center !important;
        margin-bottom: 2rem !important;

        .heading-1 {
            text-align: center !important;
        }
    }
}

@media screen and (min-width: 1024px) {
    .tribe-events-meta-group {
        text-align: left !important;

        .heading-1 {
            text-align: left !important;
        }
    }
}

.tribe-events-sub-nav li a {
    background: transparent !important;
    padding: 0 .2rem !important;
}