footer {
    margin-top: 2rem;


    .footer-wrapper {
        display: none;
        padding: 2rem 0;
        position: relative;

        @include mq(large) {
            display: flex;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 95%;
            height: 1px;
            background: $gold-dark;
        }

        &:after  {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 95%;
            height: 1px;
            background: $gold-dark;
        }

        .footer-left {
            .social {
                ul {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    @include mq(large) {
                        justify-content: flex-start;
                    }

                    li {
                        list-style-type: none;

                        &:first-child {
                            margin-right: .2rem;
                        }

                        &:last-child {
                            margin-left: .8rem !important;
                        }


                        &:not(:first-child) {
                            margin: 0 .2rem;
                        }

                        img {
                            transition: .4s ease-in-out;
                        }

                        &:not(:last-child) {
                            &:hover {
                                transition: .4s ease-in-out;

                                img {
                                    filter: grayscale(100%);
                                }
                            }
                        }

                    }
                }
            }

            .press-links {
                ul {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    @include mq(large) {
                        justify-content: flex-start;
                        align-items: flex-start;
                    }

                    li {
                        list-style-type: none;
                        margin-bottom: .3rem;

                        a {
                            color: $black;

                            &:hover {
                                color: $grey;
                            }
                        }
                    }
                }
            }

            .privacy-links {
                ul {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    @include mq(large) {
                        justify-content: flex-start;
                        align-items: flex-start;
                    }

                    li {
                        list-style-type: none;

                        a {
                            color: $black;

                            &:hover {
                                color: $grey;
                            }
                        }
                    }
                }
            }
        }

        .footer-middle {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;


            .vertical-divider {
                width: 1px;
                height: 260px;
                background: $gold-dark;
            }
        }

        .footer-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .directions {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-self: center;

                img {
                    margin: 0 .5rem;
                    align-self: center;
                }

                .heading-2 {
                    position: relative;
                    top: 8px;
                    color: $black;
                }

                &:hover {
                    .heading-2 {
                        color: $grey;
                    }
                }
            }

            .address {
                ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    li {
                        list-style-type: none;
                    }
                }
            }

            .logo {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }



    .footer-mobile-wrapper {
        padding: 2rem 0;
        position: relative;

        @include mq(large) {
            display: none;
        }


        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 95%;
            height: 1px;
            background: $gold-dark;
        }

        &:after  {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 95%;
            height: 1px;
            background: $gold-dark;
        }

        .heading-2 {
            font-size: 15px;

            @include mq(medium) {
                font-size: 20px; 
            }
        }

        .footer-left {
            .social {

                p {
                    margin-bottom: .5rem !important;
                }

                ul {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;

                    li {
                        list-style-type: none;
                        margin: 0 .2rem;

                        img {
                            transition: .4s ease-in-out;
                        }


                        &:hover {
                            transition: .4s ease-in-out;

                            img {
                                filter: grayscale(100%);
                            }
                        }


                    }
                }
            }

            .press-links {
                ul {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;


                    li {
                        list-style-type: none;
                        margin-bottom: .3rem;

                        a {
                            color: $black;

                            &:hover {
                                color: $grey;
                            }
                        }
                    }
                }
            }

            .privacy-links {
                ul {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    @include mq(large) {
                        justify-content: flex-start;
                        align-items: flex-start;
                    }

                    li {
                        list-style-type: none;

                        a {
                            color: $black;

                            &:hover {
                                color: $grey;
                            }
                        }
                    }
                }
            }
        }

        .footer-right {
            display: flex;
            flex-direction: column;

            align-items: flex-end;

            .directions {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                img {
                    align-self: center;
                    width: 35px;
                    height: auto;
                    margin-top: .3rem;

                    @include mq(medium) {
                        width: auto;
                        margin-top: 0;
                    }
                }

                p {
                    margin-bottom: 0 !important;
                }

                .heading-2 {
                    position: relative;
                    color: $black;
                }

                &:hover {
                    .heading-2 {
                        color: $grey;
                    }
                }
            }

            .address {
                margin-top: -.3rem;
                @include mq(medium) {
                    margin-top: 0;
                }
                ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    text-align: right;

                    li {
                        list-style-type: none;
                    }
                }
            }

            .logo {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }


        .footer-bottom {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .btn-green {
                padding: 0 4rem !important;
                font-size: 16px;

                @include mq(medium) {
                    font-size: 18px;
                }
            }

            .privacy-links {
                ul {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    li {
                        list-style-type: none;

                        a {
                            color: $black;

                            &:hover {
                                color: $grey;
                            }
                        }
                    }
                }
            }
        }
    }

    .copyright {
        padding-top: 1rem;

        p {
            text-align: center;
            font-size: 12px;
            color: $grey;
        }
    }
}