.wpcf7 {
    opacity: 0;
}


.form {
    padding: 6rem 0 2rem;

    @include mq(large) {
        padding: 6rem 0 3rem;
    }

    .image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        padding-bottom: 100%;
    }

    .title {
        text-align: center;
        padding: 0 0 6rem;
    }



    .form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;

        @include mq(large) {
            margin-top: 0;
        }
    }

    label {
        display: none;
    }

    .form-subscribe {
        transition: .4s ease-in-out;
        text-align: center;
        width: 80%;

        .ajax-loader {
            display: none;
        }

        input[type="text"],
        input[type="email"] {
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 1px solid $black;
            box-shadow: none !important;
            width: 100% !important;
            margin-bottom: 6rem;
            letter-spacing: 2px;

            &::placeholder,
            &:placeholder-shown {
                text-align: center;
                letter-spacing: 2px;
                color: $black !important;
                opacity: 1 !important;
            }
        }

        p {
            font-family: alternate-gothic-no-2-d,
                sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            letter-spacing: 2px;
            text-rendering: optimizeLegibility;
            text-transform: uppercase;
        }

        .last-input {
            margin-bottom: 3rem !important;
        }


        input {
            text-align: center;
            font-size: 20px !important;
            color: $black !important;
            font-family: alternate-gothic-no-2-d,
                sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            letter-spacing: 2px;
            text-rendering: optimizeLegibility;
            text-transform: uppercase;

            &:placeholder-shown,
            &::placeholder {
                color: $black;
                font-size: 20px !important;
                opacity: 1 !important;
                color: $black !important;
            }
            &:placeholder-shown {
                text-transform: uppercase;
                color: $black !important;
                opacity: 1 !important;
            }
        }

        .btn-black-submit {
            transition: background .4s ease-in-out;
            font-family: alternate-gothic-no-2-d, sans-serif !important;
            font-weight: 400 !important;
            font-style: normal !important;
            height: 78px !important;
            color: $white !important;
            font-size: 20px !important;
            text-transform: uppercase !important;
            margin-top: 1rem !important;
            padding: 0 4rem !important;
            cursor: pointer !important;
            width: auto !important;
            position: relative !important;
            background: $black !important;
            letter-spacing: 2px !important;
            text-rendering: optimizeLegibility;
    
            @include mq(large) {
                font-size: 16px !important;
            }
            @include mq(xxlarge) {
                font-size: 20px !important;
            }

            &:hover {
                background: $grey !important;
            }
        }
    }

    .with-divider {
        position: relative;
    
        .image {
                &:after {
                    content: '';
                    position: absolute;
                    right: 100%;
                    top: 0;
                    width: 3000px;
                    height: 100%;
                    margin-right: 10px;
                    background: $gold;
                }
        }
    }
}