
// Prevent Menu flashing on load
.no-js {
    .search-box {
        display: none;
    }

    @include breakpoint(small only) {
      .top-bar,
      #example-animated-menu {
        display: none !important;
      }
    }
  
    @include breakpoint(medium) {
      .title-bar {
        display: none !important;
      }
    }
}


header {
    position: relative;
    padding: 2.5rem 0;

    @include mq(large) {
        padding: .7rem 0;
    }

    .menu a,
    .menu .button {
        line-height: 1;
        text-decoration: none;
        display: block;
        padding: 0 !important;
        margin: 1rem 0;
        margin-bottom: 0px;

        @include mq(large) {
            margin: 0 .8rem;
        }
        @include mq(xlarge) {
            margin: 0 1rem;
        }
    }


    .dcomm-cart-presence {
        li {
            margin: .5rem 0 !important;

            @include mq(large) {
                margin: 0 1rem !important;
            }

            &:first-child {
                display: none;
            }

        }
    }

    .menu-item,
    .menu-right ul li {
        a {
            font-family: alternate-gothic-no-2-d, sans-serif !important;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            color: $black !important;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 400;
            text-align: center;
            text-rendering: optimizeLegibility;

            @include mq(large) {
                font-size: 16px;
            }
            @include mq(xxlarge) {
                font-size: 18px;
            }

            &:last-child {
                
            }
        }
    }

    .menu-item-644 {
        padding: .8rem 0;

        @include mq(large) {
            padding: 0;
        }
    }


    // mobile toggle +
    .menu-item-has-children {
        a:first-child {
            position: relative;

            &:after {
                transition: .4s ease-in;
                content: '+';
                position: relative;
                top: 5px;
                left: .3rem;
                color: $black;
                font-size: 35px;
                display: inline-block;

                @include mq(large) {
                    display: none;
                }
            }
        }

        .sub-menu {
            li {
                a {
                    &:after {
                        display: none !important;
                    }
                }

                &:first-child {
                    @include mq(large) {
                        display: none !important;
                    }
                }
            }
        }
    }

    .sub-active {
        a:first-child {
            &:after {
                transform: rotate(45deg) translateZ(0);
                transform-origin: left right;
                display: inline-block;
                top: 5px;
                left: .1rem;
            }
        }
    }

    .sub-menu {
        margin: 0;
        padding: 0;
        background: $gold-dark !important;

        @include mq(large) {
            position: fixed;
            top: 100%;
            left: 0;
            width: 100%;
            padding: 1rem 0;
            background: $gold-dark !important;
            z-index: 100;
            padding: 30px 80px;
            visibility: hidden;

            // IE11 hack
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                top: 130px !important;
            }
        }

        li {
            list-style-type: none;
            margin: 0 !important;
            background: $gold-dark !important;

            a {
                font-size: 13px !important;
                color: $white !important;
                text-rendering: optimizeLegibility;

                @include mq(large) {
                    font-size: 16px !important;
                    color: $black !important;
                    background: $gold-dark
                }
                @include mq(xxlarge) {
                    font-size: 18px !important;
                }

            }
        }
    }

    .menu-right {
        width: 100%;
        margin-top: 1.5rem;

        @include mq(large) {
            margin-top: 0;
        }

        ul {
            background: none !important;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include mq(large) {
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
            }

            li {
                background: none !important;
                list-style-type: none;
                margin: .3rem 0;

                @include mq(large) {
                    margin: 0 .8rem;
                }
                @include mq(xlarge) {
                    margin: 0 1rem;
                }

                a {
                    position: relative;
                    transition: .4s all ease-in-out;

                    &:hover,
                    &:active {
                        transition: .4s all ease-in-out;

                        &:before {
                            @include mq(large) {
                                width: 100%;
                            }
                        }

                    }

                    &:before {
                        transition: .4s all ease-in-out;
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 0;
                        height: 4px;
                        background: $black;
                    }
                }
            }
        }
    }

    .title-bar {
        .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include mq(large) {
                transform: translate(-50%, -50%) !important;
            }

            img {
                width: 180px;
                height: auto;
            }
        }

        .imagery-toggle {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            width: 30px;
            height: auto;

            @include mq(medium) {
                width: 47px;
            }

            img {
                width: 100%;
                height: 100%;
            }

            &:hover {
                opacity: 0.6;
            }
        }
    }


    .top-bar-container {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: $gold-dark !important;
        z-index: 500;

        @include mq(large) {
            position: relative;
            background: none !important;
            height: auto;
        }

        .top-bar,
        .menu,
        .menu ul:not(.sub-menu) {
            background: $gold-dark !important;

            @include mq(large) {
                background: none !important;
            }
        }

        .top-bar {
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            .menu-container {
                width: 100%;

                @include mq(large) {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                }
            }
        }

        .divider-line {
            width: 100%;
            height: 2px;
            background: $white;
            margin: 1rem 0;

            @include mq(large) {
                display: none;
            }
        }

        .top-bar-left {
            @include mq(large) {
                width: 100%;
            }

            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @include mq(large) {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    width: 100%;
                }

                li {
                    margin: 0;

                    a {
                        position: relative;
                        transition: .4s all ease-in-out;

                        &:hover {
                            transition: .4s all ease-in-out;

                            &:before {
                                @include mq(large) {
                                    width: 100%;
                                }
                            }
                        }

                        &:before {
                            transition: .4s all ease-in-out;
                            content: "";
                            position: absolute;
                            bottom: -6px;
                            left: 0;
                            right: 0;
                            margin: auto;
                            width: 0;
                            height: 4px;
                            background: $black;
                        }
                    }
                }
            }
        }

        .menu-close {
            position: fixed;
            right: 20px;
            top: 20px;
            cursor: pointer;
            z-index: 1000;
            width: 30px;
            height: auto;

            @include mq(large) {
                display: none;
            }

            img {
                width: 100%;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }

            &:hover {
                opacity: 0.6;
            }
        }

        .imagery-logo-wrapper {
            display: none;
            width: 210px;
            height: 200px;
            z-index: 300;

            @include mq(large) {
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-60%);

            @include mq(480px) {
                left: 50%;
                transform: translate(-50%, -60%);
                width: 210px;
                height: auto;
            }
            
            
            .imagery-logo {
                display: none;
    
                @include mq(large) {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    transform: translateY(-60%);
                }
    
                @include mq(480px) {
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 210px;
                    height: auto;
                }
    
                img {
                        width: 180px;
                        height: auto;
    
                        @include mq(480px) {
                            width: 180px;
                            height: auto;
                        }
                    }
                }
            }
        }

    }


    #search {
        cursor: pointer;

        img {
            position: relative;
            top: -2px;
            width: 16px;
            height: auto;
        }

        &:hover {
            img {
                opacity: .6;
            }
        }
    }
}

.search-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3000;
    transition: .4s ease-in-out;
    display: none;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: blur(100%) saturate(125%);
        background: $gold;
        opacity: .98;

    }

    #search-close {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        width: 30px;

        svg {
            width: 100%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        &:hover {
            opacity: .6;
        }
    }

    #ajaxsearchlite1 {
        z-index: 4000 !important;
        position: relative;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -55%);
    }

    #ajaxsearchlite1 .probox .proinput input, div.asl_w .probox .proinput input {
        font-weight: normal;
        font-family: Open Sans;
        color: $black !important;
        font-size: 22px !important;
        line-height: normal !important;
        text-shadow: 0 0 0 rgba(255,255,255,0);
        border: 0;
        box-shadow: none;
        height: 34px;
    }

    .asl_w, .asl_w * {
        color: $black !important;
    }
}