.where-to-buy {

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        opacity: 1 !important;
        color: $black !important;
        /* Firefox  */
    }

    ::-webkit-input-placeholder {
        opacity: 1;
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
    }

    /* Chrome <=56, Safari < 10 */
    :-moz-placeholder {
        opacity: 1;
        -moz-transition: opacity .5s;
        transition: opacity .5s;
    }

    /* FF 4-18 */
    ::-moz-placeholder {
        opacity: 1;
        -moz-transition: opacity .5s;
        transition: opacity .5s;
    }

    /* FF 19-51 */
    :-ms-input-placeholder {
        opacity: 1;
        -ms-transition: opacity .5s;
        transition: opacity .5s;
    }

    /* IE 10+ */
    ::placeholder {
        opacity: 1;
        transition: opacity .5s;
    }

    /* Modern Browsers */

    *:focus::-webkit-input-placeholder {
        opacity: 0;
        caret-color: $black !important
    }

    /* Chrome <=56, Safari < 10 */
    *:focus:-moz-placeholder {
        opacity: 0;
    }

    /* FF 4-18 */
    *:focus::-moz-placeholder {
        opacity: 0;
    }

    /* FF 19-50 */
    *:focus:-ms-input-placeholder {
        opacity: 0;
    }

    /* IE 10+ */
    *:focus::placeholder {
        opacity: 0;
    }

    select {
        text-align: center !important;
        text-align-last: center !important;
        /* webkit*/
    }

    option {
        text-align: left !important;
        /* reset to left*/
    }

    /* Find
    -------------*/
    #sl_div #map_sidebar {
        -webkit-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        -moz-align-items: flex-start;
        align-items: flex-start;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        margin-top: 50px;
    }

    #sl_div #map_sidebar .results_wrapper {
        width: 20%;
        margin: 0 4% 3em 0;

        span {
            color: $black !important;

            a {
                color: $gold !important;
            }
        }
    }

    div#map.slp_map {
        width: 100%;
        height: 480px;
        margin-top: 2rem !important;
    }

    #sl_div #map_sidebar .results_wrapper:nth-child(4n) {
        margin-right: 0;
    }

    @media only screen and (min-width: 320px) and (max-width: 479px) {
        #sl_div #map_sidebar .results_wrapper {
            width: 100%;
        }
    }

    @media only screen and (min-width: 479px) and (max-width: 740px) {
        #sl_div #map_sidebar .results_wrapper {
            width: 40%;
        }
    }

    @media only screen and (min-width: 741px) and (max-width: 1024px) {
        #sl_div #map_sidebar .results_wrapper {
            width: 28.333%;
        }
    }

    #sl_div {
        display: flex;
        display: -webkit-flex;
        display: -ms-flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
    }

    #sl_div #left-pane-s {
        width: 33%;
        margin-right: 2%;
        float: none !important;
    }

    #sl_div #searchForm {
        width: 100%;
    }

    // #sl_div #map {
    //   box-sizing: border-box;
    //   position: relative !important;
    //   border: 2px dotted #c09456;
    //   border-image-source: url("../img/border_box_2.png");
    //   border-image-slice: 3 3;
    //   border-image-repeat: round;
    //   background: none !important;
    // }
    #searchForm .search_item {
        clear: none !important;
        float: left !important;
    }

    div#map {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: none !important;
    }

    #map .gm-style {
        border: 5px solid #fff !important;
        box-sizing: border-box !important;
    }

    #searchForm label {
        text-align: left !important;
        width: auto !important;
        min-width: inherit !important;
        font-size: 93.75% !important;
        padding: 0 !important;
        vertical-align: middle !important;
        color: #3c3c41 !important;
        font-family: "Trade Gothic W01 Roman";
        display: none !important;
    }

    #searchForm input::placeholder {
        opacity: 1 !important;
    }

    #addy_in_address {
        padding: 0 !important;
        display: block !important;
        float: left !important;
        width: 15% !important;
        position: relative !important;
        margin-bottom: 0 !important;
        margin-right: 3%;

        @include mq(large) {
            margin-bottom: 16px !important;
        }
    }

    #addressInput input::placeholder {
        opacity: 1 !important;
    }

    #addressInput {
        line-height: 5px;
    }

    #sl_div .input-row,
    #sl_div .size {
        font-family: "Trade Gothic W01 Roman";
        font-size: 93.75% !important;
        color: #3c3c41 !important;
        margin-bottom: 16px;
    }

    #sl_div .input-row select,
    #sl_div .size select {
        width: 100% !important;
        position: relative;
        box-sizing: border-box;
        background-position-x: 98%;
        min-height: 40px !important;
    }

    #searchForm #radius_in_submit {
        position: absolute;
        right: 0;
        top: 20px;
    }

    .results_entry span.location_name,
    .results_entry span.slp_result_address,
    .slp_result_table_tags,
    .slp_result_directions,
    .text_below_map {
        color: #423c37 !important;
        font-family: "Trade Gothic W01 Roman", serif;
        font-size: 106.25%;
        font-weight: normal !important;
        line-height: 1.7;
    }

    #sl_div a.storelocatorlink {
        color: #423c37 !important;
    }

    .slp_search_form .search_box .search_item .slp_ui_button {
        margin: 0 !important;
    }

    #map_sidebar {
        width: 100%;
    }

    .results_entry:hover {
        background-color: transparent !important;
    }

    #tagalong_category_selector #cat {
        width: 80% !important;
    }

    /*
    #searchForm .search_item {
        clear: none !important;
    }
    */

    #sl_div #addy_in_radius,
    #search_by_tag {
        /* DISTANCE */
        float: none !important;
        /*     width: 31.86% !important; */
        position: relative !important;
        margin-right: 3%;
        margin-bottom: 16px !important;
    }

    #sl_div #addy_in_type {
        /* TYPE */
        float: left !important;
        width: 31.35% !important;
        position: relative !important;
        margin-right: 0;
        margin-bottom: 16px !important;
    }

    #searchForm input,
    #searchForm select {
        position: relative !important;
        width: 100%;
        font-family: alternate-gothic-no-2-d, sans-serif !important;
        font-weight: 400 !important;
        font-style: normal !important;
        color: $black !important;
        font-size: 20px !important;
        text-transform: uppercase;
        letter-spacing: 2px;
        /* border: 1px solid #56565a !important; */
        border-radius: 0;
        padding: 10px 6px !important;
        min-height: 40px !important;
        background: transparent;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid $black;
        text-align: center;
        box-shadow: none !important;
    }

    #radius_in_submit input {
        width: 90% !important;

        @include mq(large) {
            width: 100% !important;
        }
    }

    [type='text']:focus,
    [type='password']:focus,
    [type='date']:focus,
    [type='datetime']:focus,
    [type='datetime-local']:focus,
    [type='month']:focus,
    [type='week']:focus,
    [type='email']:focus,
    [type='number']:focus,
    [type='search']:focus,
    [type='tel']:focus,
    [type='time']:focus,
    [type='url']:focus,
    [type='color']:focus,
    textarea:focus,
    select:focus {
        outline: none;
        border-bottom: 2px solid $black !important;
        background-color: $black;
        box-shadow: initial !important;
        transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
        color: $black !important;

        ::placeholder {
            color: transparent !important;
        }
    }

    #map_sidebar {
        h2 {
            display: none !important;
        }
    }

    .map {
        @include mq(large) {
            padding-top: 4rem !important;
        }
    }

    .wheretobuy {
        h1 {
            text-align: center;
            padding: 4rem 0;
        }
    }

    /*
    #searchForm SELECT {
        color: #9e732e !important;
        width: 100% !important;
        font-family: 'Trade Gothic W01 Roman', sans-serif !important;
        font-size: 81.25% !important;
        font-weight: normal !important;
        text-transform: uppercase !important;
        margin: 0 !important;
    }
    */

    select {
        background: transparent url(../../../assets/images/icon-arrow.svg) center right no-repeat;
        background-color: $black;
        border: 1px solid #56565a;
        border-radius: 0;
        color: #9e732e;
        font-family: "Trade Gothic W01 Roman";
        font-size: 81.25%;
        font-weight: normal;
        outline: none;
        padding: 10px 6px;
        -moz-appearance: none;
        -webkit-appearance: none;
        text-transform: uppercase;
        background-position-x: 94%;
        text-align: center !important;
    }

    select option {
        text-align: center;
    }

    select#select_form {
        margin-bottom: 30px;
    }

    #addressSubmit.slp_ui_button {
        font-family: proxima-nova, sans-serif !important;
        text-transform: uppercase;
        letter-spacing: 0em;
        text-align: center;
        font-size: 17px !important;
        line-height: 1.4;
        color: $black !important;
        background: transparent;
        border: 1px solid $black !important;
        box-sizing: border-box !important;
        border-radius: 0 !important;
        -moz-border-radius: 0;
        display: inline-block;
        position: relative;
        padding: 12px 16px;
        transition: 0.2s background-color linear, 0.2s color linear, 0.2s border linear;
        -webkit-transition: 0.2s background-color linear, 0.2s color linear, 0.2s border linear;
        -moz-transition: 0.2s background-color linear, 0.2s color linear, 0.2s border linear;
        outline: none;
        padding: .5rem 2rem !important;
        letter-spacing: 2px;
        top: -15px;
        cursor: pointer;

        &:hover {
            background: $gold-dark;
        }
    }

    .slp_search_form .search_box .search_item div {
        display: block !important;

        @media screen and (-ms-high-contrast: active),
            screen and (-ms-high-contrast: none) {
            /* IE10+ specific styles go here */
            flex: none !important;
        }
    }

    #radiusSelect {
        max-width: 125px;
        width: 40% !important;
    }

    @media only screen and (min-width: 0) and (max-width: 1024px) {
        #find article {
            padding: 90px 5%;
        }

        #sl_div #left-pane-s,
        #find div#sl_div div#map {
            width: 100%;
            margin-right: 0%;
        }

        #find div#sl_div div#map {
            margin: 50px 0 0 0;
        }

        #searchForm .search_item {
            clear: both !important;
            float: none !important;
            width: 100% !important;
        }

        #searchForm #radius_in_submit {
            position: relative;
            top: 30px;
        }

        #map_sidebar {
            margin-top: 150px;
        }

        div.results_entry .results_row_left_column,
        div.results_entry .results_row_right_column,
        div.results_entry .results_row_center_column {
            width: 100% !important;
            display: flex;
            flex-direction: column;
        }

        div.results_entry .results_row_right_column {
            text-align: left !important;
        }

        #tagalong_category_selector #cat {
            width: 100% !important;
        }

        #addy_in_address,
        #sl_div #addy_in_radius,
        #search_by_tag {
            margin-right: 0;
        }

        #radiusSelect {
            max-width: 100%;
        }
    }


    @include mq(medium) {
        .search_item {
            position: relative;
        }
    }




    // Custom select
    /*the container must be positioned relative:*/

    .custom-select {
        position: relative;
        font-family: Arial;
    }

    body {
        background: black;
    }

    .custom-select select {
        display: none;
        /*hide original SELECT element:*/
    }

    .select-selected {
        background-color: transparent;
        text-align: center;
        width: 100%;
    }

    .custom-select-fullwidth .select-items {
        width: 100%;
    }

    .custom-select-95 .select-items {
        width: 100%;
        text-align: center;
    }

    .custom-select-fullwidth .select-items {
        div:first-child {
            display: none !important;

        }
    }


    .custom-select-95 {
        flex: initial !important;
        width: 130px;


        .select-selected:after {
            position: absolute;
            content: "";
            top: 14px;
            right: 25px;
            width: 0;
            height: 0;
            border: solid $black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);

            @include mq(medium) {

            }
            @include mq(large) {
                right: 35px;
            }
            @include mq(xlarge) {
                right: 45px;
            }
            @include mq(xxlarge) {
                right: 55px;
            }
        }
    }

    /*style the arrow inside the select element:*/
    .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 25px;
        width: 0;
        height: 0;
        border: solid $black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);

        @include mq(large) {
            right: 35px;
        }
        @include mq(xlarge) {
            right: 45px;
        }
        @include mq(xxlarge) {
            right: 60px;
        }
    }



    /*point the arrow upwards when the select box is open (active):*/
    .select-selected.select-arrow-active:after {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    /*style the items (options), including the selected item:*/
    .select-items span,
    .select-selected {
        color: $black;
        padding: 8px 16px;
        border-color: $black;
        cursor: pointer;
        user-select: none;
        display: inline-block;
    }

    .select-items div {
        padding: .5rem;
        border: 1px solid transparent;
        color: $white !important;
        cursor: pointer;
    }

    /*style items (options):*/
    .select-items {
        position: absolute;
        background-color: $gold;
        border: 1px solid transparent;
        top: 101%;
        left: 0;
        right: 0;
        z-index: 9999 !important;
    }

    /*hide the items when the select box is closed:*/
    .select-hide {
        display: none !important;
    }

    .select-items div:hover,
    .same-as-selected {
        background-color: $black;
    }

    .custom-select {
        border-bottom: 2px solid $black;
        top: -8px;
        font-family: alternate-gothic-no-2-d,
		sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        letter-spacing: 2px;
        text-rendering: optimizeLegibility;
        text-transform: uppercase;
    }

    .slp_results_container .results_wrapper:hover,
    .slp_results_container .results_wrapper {
        background-color: transparent !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: none !important;
        border-radius: 0 !important;
    }


    .slp_search_container {
        height: 300px;
        position: relative;

        @include mq(large) {
            height: 200px;
        }

        #radius_in_submit {
            position: absolute !important;
            right: 50% !important;
            bottom: 0 !important;
            top: initial !important;
            transform: translateX(-50%);

            input[type="submit"] {
                position: absolute !important;
                top: auto !important;
                bottom: 0 !important;
                transform: translateX(-50%);
                transition: background .4s ease-in-out;
                font-family: alternate-gothic-no-2-d, sans-serif !important;
                font-weight: 400;
                font-style: normal !important;
                height: 78px !important;
                color: $white !important;
                font-size: 20px;
                text-transform: uppercase;
                margin-top: 1rem;
                padding: .3rem 4rem 0 4rem !important;
                cursor: pointer;
                width: auto !important;
                position: relative;
                background: $black;
                letter-spacing: 2px;
                text-rendering: optimizeLegibility;
                border: none !important;

                @include mq(large) {
                    font-size: 16px !important;
                }
                @include mq(xxlarge) {
                        font-size: 20px !important;
                }
                &:hover {
                    background: $grey !important;
                }
            }
        }
    }


   #sl_div #searchForm {
        position: relative;
        z-index: 5 !important;

        @include mq(medium) {
            width: 50% !important;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    #addy_in_radius {
        width: 100%;
    }


    div#map.slp_map {
        width: 100%;
        margin-top: 6rem !important;
        z-index: 1;

        @include mq(large) {
            height: 690px !important;
        }
    }

    .search_item #radius_in_submit {
        display: none !important;
    }
}