.modules {
    // FEATURE SLIDER
    @import "../modules/_feature_slider";

    // CONTENT & 3 BLOCK BLOCKS
    @import "../modules/_content_3_image_blocks";

    // CONTENT & IMAGE CALLOUT
    @import "../modules/_content_&_image_callout";

    // CONTENT SPLIT LEFT
    @import "../modules/_content_split_left";

    // EVENT BLOCK
    @import "../modules/_event_block";

    // CONTENT SCROLL SLIDER
    @import "../modules/_content_scroll_slider";

    // CONTENT 3 IMAGE CALLOUT
    @import "../modules/_content_3_image_callout";

    // CONTENT BLOCK
    @import "../modules/_content_block";

    // WINE CLUB FEATURE BLOCK
    @import "../modules/_wine_club_feature_block";

    // SPLIT IMAGE & DETAIL
    @import "../modules/_split_image_&_detail";

    // IMAGE CALLOUTS
    @import "../modules/_image_callouts";

    // CONTENT & LINKS
    @import "../modules/_content_&_links";

    // GALLERY
    @import "../modules/_gallery";

    // CONTENT SPLIT RIGHT
    @import "../modules/_content_split_right.scss";

    // SHOP CALLOUT
    @import "../modules/_shop_callout.scss";

    // INSTAGRAM BLOCK
    @import "../modules/_instagram_block.scss";
}


// Our Winemaker
.page-id-24 {
    .content-3-image-blocks {
        padding-top: 0;

        @include mq(large) {
            margin-top: 4rem;
        }

        @include mq(xxlarge) {
            margin-top: 0;
        }

        &:first-child {
            padding-bottom: 2rem;

            .large-block {
                @include mq(medium) {
                    margin-bottom: 0 !important;
                }

                @include mq(large) {
                    margin-bottom: 8rem;
                }
            }

            .main-content {
                padding: 2rem 0;

                @include mq(large) {
                    padding: 6rem 0;
                }
            }

            .small-block-top {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: auto !important;
                padding-bottom: 60%;
                transition: .4s ease-in-out;

                @include mq(medium) {
                    padding-bottom: 50%;
                }

                @include mq(large) {
                    height: 384px !important;
                    padding-bottom: 0;
                }
            }

            .small-block-bottom {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: auto !important;
                transition: .4s ease-in-out;

                @include mq(medium) {
                    height: auto !important;
                    padding-bottom: 1rem;
                }

                @include mq(xlarge) {
                    height: 330px !important;
                    padding-bottom: 0;
                }

                @include mq(xxlarge) {
                    height: 384px !important;
                }
            }

            .image-content {
                margin-top: 55px;
                margin-bottom: 60px;

                @include mq(medium) {
                    margin-top: 55px;
                    margin-bottom: 70px;
                }
            }

            .copy-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 0;
                margin-bottom: 0;

                @include mq(460px) {
                    margin-top: 0;
                    margin-bottom: 0;
                }

                @include mq(480px) {
                    margin-top: 0;
                }

                @include mq(medium) {
                    margin-bottom: 0 !important;
                }

                @include mq(large) {
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                }

                @include mq(xlarge) {
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                }

                @include mq(xxlarge) {
                    margin-top: 1rem !important;
                    margin-bottom: 0 !important;
                }
            }
        }

        &:nth-child(2) {
            padding-bottom: 0;

            @include mq(xlarge) {
                padding-top: 0;
            }

            @include mq(xxlarge) {
                padding-top: 5rem;
            }

            @include mq(1600px) {
                padding-top: 2.5rem;
            }

            .large-block {
                @include mq(medium) {
                    margin-bottom: 0 !important;
                }

                @include mq(large) {
                    margin-bottom: 8rem;
                }
            }

            .main-content {
                padding: 2rem 0;

                @include mq(large) {
                    padding: 6rem 0;
                }
            }

            .small-block-bottom {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: auto !important;
                padding-bottom: 60%;
                transition: .4s ease-in-out;

                @include mq(medium) {
                    padding-bottom: 50%;
                }

                @include mq(large) {
                    height: 270px !important;
                    padding-bottom: 0;
                }

                @include mq(xlarge) {
                    height: 365px !important;
                }

                @include mq(xxlarge) {
                    height: 419px !important;
                }
            }

            .small-block-top {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: auto !important;
                transition: .4s ease-in-out;

                @include mq(medium) {
                    height: auto !important;
                    padding-bottom: 1rem;
                }

                @include mq(large) {
                    height: 330px !important;
                    padding-bottom: 0;
                }

                @include mq(xlarge) {
                    height: 342px !important;
                }

                @include mq(xxlarge) {
                    height: 384px !important;

                }
            }

            .image-content {
                margin-top: 55px;
                margin-bottom: 60px;

                @include mq(medium) {
                    margin-top: 55px;
                    margin-bottom: 70px;
                }
            }


            .copy-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 0;
                margin-bottom: 2rem;

                @include mq(460px) {
                    margin-top: 0;
                }

                @include mq(medium) {
                    margin-bottom: 4rem !important;
                }

                @include mq(large) {
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                }

                @include mq(xlarge) {
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                }

                @include mq(xxlarge) {
                    margin-top: 1rem !important;
                    margin-bottom: 0 !important;
                }

            }

            .block-margin {
                margin-top: 0;

                @include mq(medium) {
                    margin-top: 2rem;
                }
            }

            .paragraph-block {
                padding: 2rem 0 0;

                @include mq(medium) {
                    padding: 7rem 0 0;
                }

                @include mq(large) {
                    padding: 0;
                }
            }
        }

        .main-content {
            padding: 2rem 0;

            @include mq(large) {
                padding: 6rem 0;
            }
        }
    }
}


//  Imagery California
.page-id-28 {
    .content-3-image-blocks {
        padding-top: 0;
        padding-bottom: 3rem;

        @include mq(large) {
            margin-top: 4rem;
        }

        @include mq(xxlarge) {
            margin-top: 0;
        }

        .large-block {
            @include mq(medium) {
                margin-bottom: 0 !important;
            }

            @include mq(large) {
                margin-bottom: 8rem;
            }
        }

        .main-content {
            padding: 2rem 0;

            @include mq(large) {
                padding: 6rem 0;
            }
        }

        .small-block-top {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: auto !important;
            padding-bottom: 60%;
            transition: .4s ease-in-out;

            @include mq(medium) {
                padding-bottom: 50%;
            }

            @include mq(large) {
                height: 384px !important;
                padding-bottom: 0;
            }
        }

        .small-block-bottom {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: auto !important;
            transition: .4s ease-in-out;

            @include mq(medium) {
                height: auto !important;
                padding-bottom: 1rem;
            }

            @include mq(xlarge) {
                height: 330px !important;
                padding-bottom: 0;
            }

            @include mq(xxlarge) {
                height: 384px !important;
            }
        }

        .image-content {
            margin-top: 55px;
            margin-bottom: 60px;

            @include mq(medium) {
                margin-top: 55px;
                margin-bottom: 70px;
            }
        }


        .copy-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 0;
            margin-bottom: 0;

            @include mq(460px) {
                margin-top: 0;
                margin-bottom: 0;
            }

            @include mq(480px) {
                margin-top: 0;
            }

            @include mq(medium) {
                margin-bottom: 0 !important;
            }

            @include mq(large) {
                margin-top: 0 !important;
                margin-bottom: 0 !important;
            }

            @include mq(xlarge) {
                margin-top: 0 !important;
                margin-bottom: 0 !important;
            }

            @include mq(xxlarge) {
                margin-top: 1rem !important;
                margin-bottom: 0 !important;
            }

        }

    }

    .split-image-detail {
        padding-top: 1rem;

        @include mq(medium) {
            padding-top: 2rem;
        }

        @include mq(large) {
            padding-bottom: 2rem;
            padding-top: 40px;
        }

        @include mq(xlarge) {
            padding-bottom: 2rem;
            padding-top: 60px;
        }

        @include mq(xxlarge) {
            padding-bottom: 1rem;
            padding-top: 4rem;
        }


        .detail {
            padding: 5rem 0 0;

            @include mq(large) {
                padding: 4rem 0;
            }
        }

    }

}

// Visit Us
.page-id-6 {
    .content-split-left {
        padding: 7rem 0 6rem !important;
    }
}

//  Art
.page-id-30 {
    .content-3-image-blocks {
        padding-bottom: 4.5rem;
        padding-top: 2rem;

        @include mq(large) {
            padding-bottom: 6rem;
        }

        @include mq(xxlarge) {
            padding-top: 0;
        }

        @include mq(1600px) {
            padding-top: 0;
        }

        .large-block {
            @include mq(medium) {
                margin-bottom: 0 !important;
            }

            @include mq(large) {
                margin-bottom: 8rem;
            }
        }

        .small-blocks {
            .content {
                @include mq(large) {
                    padding-right: 0;
                }

                @include mq(xlarge) {
                    padding-right: 20%;
                }
            }
        }

        .main-content {
            padding: 2rem 0;

            @include mq(large) {
                padding: 6rem 0;
            }
        }

        .small-block-bottom {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: auto !important;
            padding-bottom: 60%;
            transition: .4s ease-in-out;

            @include mq(medium) {
                padding-bottom: 40%;
            }

            @include mq(large) {
                height: 270px !important;
                padding-bottom: 0;
            }

            @include mq(xlarge) {
                height: 365px !important;
            }

            @include mq(xxlarge) {
                height: 419px !important;
            }
        }

        .small-block-top {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: auto !important;
            transition: .4s ease-in-out;

            @include mq(medium) {
                height: auto !important;
                padding-bottom: 1rem;
            }

            @include mq(large) {
                height: 360px !important;
                padding-bottom: 0;
            }

            @include mq(xlarge) {
                height: 374px !important;
            }

            @include mq(xxlarge) {
                height: 414px !important;

            }
        }




        .copy-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 0;
            margin-bottom: 2rem;
            padding-top: 3rem;
            padding-bottom: 2rem;

            @include mq(medium) {
                margin-bottom: 0 !important;
                padding-top: 10rem;
            }

            @include mq(large) {
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                padding-top: 3rem;
            }

            @include mq(xlarge) {
                margin-top: 0 !important;
                margin-bottom: 0 !important;
            }

            @include mq(xxlarge) {
                margin-top: 1rem !important;
                margin-bottom: 0 !important;
            }

        }

        .block-margin {
            margin-top: 0;

            @include mq(medium) {
                margin-top: 2rem;
            }
        }

        .paragraph-block {
            padding: 2rem 0 0;

            @include mq(medium) {
                padding: 7rem 0 0;
            }

            @include mq(large) {
                padding: 0;
            }
        }

        .main-content {
            padding: 2rem 0;

            @include mq(large) {
                padding: 6rem 0;
            }
        }
    }

    .detail {
        padding: 4rem 0 2.5rem !important;

        @include mq(medium) {
            padding: 5rem 0 3.5rem !important;
        }
    }
}

// Private Events
.page-id-570 {
    .content-3-image-blocks {
        padding-bottom: 2.5rem;
        padding-top: 2rem;

        @include mq(medium) {
            padding-bottom: 3.5rem;
        }

        @include mq(large) {
            padding-bottom: 6rem;
        }

        @include mq(xxlarge) {
            padding-top: 0;
        }

        @include mq(1600px) {
            padding-top: 2.5rem;
        }

        .large-block {
            @include mq(medium) {
                margin-bottom: 0 !important;
            }

            @include mq(large) {
                margin-bottom: 8rem;
            }
        }

        .small-blocks {
            .content {
                @include mq(large) {
                    padding-right: 0;
                }

                @include mq(xlarge) {
                    padding-right: 20%;
                }
            }
        }

        .main-content {
            padding: 2rem 0;

            @include mq(large) {
                padding: 6rem 0;
            }
        }

        .small-block-top {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: auto !important;
            padding-bottom: 60%;
            transition: .4s ease-in-out;

            @include mq(medium) {
                padding-bottom: 50%;
            }

            @include mq(large) {
                height: 270px !important;
                padding-bottom: 0;
            }

            @include mq(xlarge) {
                height: 365px !important;
            }

            @include mq(xxlarge) {
                height: 419px !important;
            }
        }

        .small-block-bottom {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: auto !important;
            transition: .4s ease-in-out;

            @include mq(medium) {
                height: auto !important;
                padding-bottom: 1rem;
            }

            @include mq(large) {
                height: 360px !important;
                padding-bottom: 0;
            }

            @include mq(xlarge) {
                height: 374px !important;
            }

            @include mq(xxlarge) {
                height: 414px !important;

            }
        }




        .copy-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 0;
            margin-bottom: 2rem;
            padding-top: 3rem;
            padding-bottom: 2rem;

            @include mq(medium) {
                margin-bottom: 0 !important;
                padding-top: 2rem;
            }

            @include mq(large) {
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                padding-top: 3rem;
            }

            @include mq(xlarge) {
                margin-top: 0 !important;
                margin-bottom: 0 !important;
            }

            @include mq(xxlarge) {
                margin-top: 1rem !important;
                margin-bottom: 0 !important;
            }

        }

        .block-margin {
            margin-top: 2rem;

            @include mq(medium) {
                margin-top: 7.5rem;
            }

            @include mq(large) {
                margin-top: 0;
            }
        }

        .paragraph-block {
            padding: 2rem 0 0;

            @include mq(medium) {
                padding: 7rem 0 0;
            }

            @include mq(large) {
                padding: 0;
            }
        }

        .main-content {
            padding: 2rem 0;

            @include mq(large) {
                padding: 6rem 0;
            }
        }
    }
}

// Upper Vineyard
.page-id-26 {
    .content-block {
        padding: 4rem 0 0;
    }

    .first-module-padding {
        padding: 3rem 0 1rem !important;

        @include mq(large) {
            padding: 3rem 0 3rem !important;
        }
    }

    .last-module-padding {
        padding: 3rem 0 0 !important;

        @include mq(large) {
            padding: 3rem 0 2rem !important;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        .copy {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            padding-bottom: 0 !important;

        }
    }
}