.news {
    padding: 4rem 0 2rem;

    select {
        border-radius: 20px !important;
        color: $black;
        transition: .2s ease-in;
        text-transform: uppercase;
        font-family: alternate-gothic-no-2-d,
        sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        letter-spacing: .08rem;
        text-align: center;
        padding-left: 15px;
        position: relative;
        padding-top: .45rem;
        background-position: right -.5rem center;
        appearance: none;
        cursor:  pointer !important;
        margin-bottom: 30px;
    }

    .categories {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .news-posts {
        padding: 4rem 0 0;

        .news-post {
            margin-bottom: 2rem;

            .news-featured-image {
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 2rem;
                transition: transform .4s ease-in-out;
                -webkit-backface-visibility: hidden;
                -webkit-transform:translate3d(0,0,0);
                padding-bottom: 100%;

                &:hover {
                    transform: scale(1.03);
                }
            }

            .heading-3 {
                color: $black !important;
                font-size: 22px;
                text-transform: capitalize;
            }

            .post-categories {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                
                p {
                    position: relative;

                    a {
                        font-family: alternate-gothic-no-2-d,
                            sans-serif;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 16px;
                        letter-spacing: .08rem;
                        color: $gold;
                        text-transform: uppercase;
                        position: relative;

                        &:hover {
                            opacity: 0.6;
                        }

                    }

                    &:after {
                        content: '|';
                        position: relative;
                        top: -2px;
                        margin: 0 .5rem;
                        font-family: alternate-gothic-no-2-d,
                            sans-serif;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 18px;
                        letter-spacing: .08rem;
                        color: $gold;
                        text-transform: uppercase;

                    }
                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }

}

.news-single {
    padding: 4rem 0 2rem;

    select {
        border-radius: 20px !important;
        color: $black;
        transition: .2s ease-in;
        text-transform: uppercase;
        font-family: alternate-gothic-no-2-d,
        sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        letter-spacing: .08rem;
        text-align: center;
        padding-left: 15px;
        position: relative;
        padding-top: .45rem;
        background-position: right -.5rem center;
        appearance: none;
        cursor:  pointer !important;
        margin-bottom: 50px;
    }

    ul li {
        font-family: mrs-eaves-xl-serif, serif;
        font-weight: 400;
        font-style: normal;
        font-size: 22px;
        line-height: 1.2 !important;
        text-rendering: optimizeLegibility;

        @include mq(medium) {
            font-size: 18px;
        }
    }

    .news-post {
        .heading-1 {
            text-align: center;
            margin: 1rem 0 4rem;
            width: 100%;
        }
        .news-featured-image {
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-bottom: 4rem;
            transition: transform .4s ease-in-out;
            -webkit-backface-visibility: hidden;
            -webkit-transform:translate3d(0,0,0);
            padding-bottom: 100%;

            &:hover {
                transform: scale(1.03);
            }
        }

        a {
            color: $gold;

            &:hover {
                opacity: 0.6;
            }

        }
    }

    .news-pagination {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 4rem 0 0;

        a {
            display: inline-block;
            margin: 0 .5rem;
        }
    }
}

