.shop-landing {
    .featured-sale-block {
        padding: 6rem 0;

        .cta {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            button {
                margin-top: 0 !important;
            }
        }
    }

    .callout-blocks {
        padding: 6rem 0 0;

        // Hide Gifts block
        div:last-child {
            display: none;
        }

        .main-content {
            text-align: center;
            padding-bottom: 6rem;
        }

        .callout-block {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding-bottom: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 5rem;
            position: relative;
             -webkit-backface-visibility: hidden;
            -moz-backface-visibility:    hidden;
            -ms-backface-visibility:     hidden;

            @include mq(medium) {
                padding-bottom: 40%;
            }

            a {
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
        }
    }
}