
.content-block {
    position: relative;
    padding: 4rem 0;

    .text-align-left {
        text-align: left !important;
    }

    .basic {
        text-align: center;
    }

    .list,
    .multiple-list {
        padding: 0;

        // @include mq(medium) {
        //     padding: 0;
        // }

        .title {
            text-align: center;
            border-bottom: 1px solid $gold-dark;
            padding-bottom: 2rem;
        }

        .list-item {
            position: relative;

            p {
                margin: 0;
                border-bottom: 1px solid $gold-dark;
                padding: 2rem 0;
            }
        }

        .cta {
            margin: 4rem 0 0 0;
            text-align: center;
        }
    }

    .multiple-list {
        .list:not(:first-child) {
            margin-top: 4rem;
        }
    }

    .multiple-list-with-links {
        a {
            color: $black !important;
            line-height: 1.8 !important;
            &:hover {
                color: $grey !important;
            }
        }
        
        p {
            margin: 0;
        }

        .list {
            width: 100%;
        }

        .file-list-container {
            padding: 1.5rem 0;
            text-align: left;
            border-bottom: 1px solid $gold-dark !important;
        }
    }

    .accordion-list {
        .title {
            text-align: center;
            border-bottom: 1px solid $gold-dark;
            padding-bottom: 6rem;
        }

        .accordion-list-item {
            position: relative;
            border-bottom: 1px solid $gold-dark;
            padding: 2rem 0;

            .toggle-identifier {
                padding-right: 1rem;
                position: relative;
                top: 2px;
            }

            .question {
                display: flex;
                flex-direction: row;
                cursor: pointer;

                &:hover {
                    color: $grey-dark;
                }
            }

            .answer {
                font-weight: bold;
                margin-left: 1.5rem;
                padding: 1rem 0;
            }

            p {
                margin: 0;
            }
        }
    }
}
