.content-image-callout {
    background: $gold;
    padding: 5rem 0 3rem;
    margin-bottom: 2rem;
    position: relative;

    .content {
        text-align: center;
    }

    .image-callout {
        height: 90vw;
        padding: 1rem 0;

        @include mq(480px) {
            height: 90vw ;
            padding: 3rem 0;
        }
        @include mq(medium) {
            height: 65vw;
            padding: 3rem 0;
        }

        @include mq(large) {
            height: 60vw ;
            padding: 3rem 0;
        }
        @include mq(xlarge) {
            height: 45vw ;
            padding: 3rem 0;
        }
        @include mq(xxlarge) {
            height: 45vw ;
            padding: 3rem 0;
        }
        // @include mq(1920px) {
        //     height: 80vh ;
        //     padding: 3rem 0;
        // }

        .image {
            @include mq(large) {
                width: 1088px;
                height: 600px;
                padding: 3rem 0;
            }
        }

        a {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            transform: translateY(-50%);
            display: inline-block;

            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                transform: none !important;
            }
        }

        .image {
            position: relative;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            text-align: center;

            a button {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

            .image-description {
                position: absolute;
                left: 40px;
                bottom: 8%;
                color: $black;
                font-family: alternate-gothic-no-2-d,
                    sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 14px;
                text-transform: uppercase;

                @include mq(large) {
                    bottom: 40px;
                }
            }
        }
    }
}