.content-links {
    padding-top: 3rem;
    padding-bottom: 3rem;

    .active-link {
        button {
            color: $grey !important;

            &:after {
                background: $grey !important;
            }
        }
    }

    .links {
        margin: 4rem 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;

        @include mq(medium) {
            justify-content: space-around;
        }

        .link {
            margin-bottom: 1.5rem;
            margin-right: 1.5rem;

            @include mq(medium) {
                margin-bottom: 0;
                margin-right: 0;
            }
        }

        a {
            &:hover {
                color: $grey !important;

                button {
                    color: $grey !important;
                    transition: .2s ease-in !important;

                    &:after {
                        transition: .2s ease-in !important;
                        background: $grey !important;
                        width: 100% !important;
                    }
                }
            }
        }
    }
}