.content-split-right {
    padding: 3rem 0;

    

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        .copy {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: -60px;
                width: 10px;
                height: 100%;
                background: $grey;
            }
        }
    }

    .image-block {
        .image {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            padding-bottom: 100%;
        }
    }

    .with-divider {
        position: relative;

        .image {
            &:after {
                content: '';
                position: absolute;
                right: 100%;
                top: 0;
                width: 3000px;
                height: 100%;
                margin-left: -25px;
                background: $gold;
                display: none;

                @include mq(large) {
                    display: block;
                }
            }
        }
    }
}