
&:first-child {
    .content-3-image-blocks {
        
    }
}


.content-3-image-blocks {
    padding-bottom: 3rem;
    position: relative;

    @include mq(medium) {
        padding-bottom: 6rem;
    }

    &:nth-child(2) {

        .paragraph-block {
            padding-bottom: 4rem;
        }
    }

    .text-right {
        .content {

            // @include mq(medium) {
            //     text-align: right !important;
            // }
            
            @include mq(large) {
                padding-left: 20%;
                padding-right: 0 !important; 
            }

            .heading-1 {
                width: 100%;
                text-align: right !important;
            }
        }
    }

    .block-link {
        .image-content {
            transition: .4s ease-in-out;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility:    hidden;
            -ms-backface-visibility:     hidden;
            &:hover {
                transform: scale(1.03);
            }
        }
    }

    p {

        @include mq(medium) {
            line-height: 1.2;
        }
        @include mq(xlarge) {
            line-height: 1.6;
        }
    }


    .main-content {
        padding: 6rem 0;

        p {
            @include mq(large) {
                width: 40%;
            }
        }
    }

    .image-content {
        transition: .4s ease-in-out;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility:    hidden;
        -ms-backface-visibility:     hidden;
        

    }

    .large-block {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 90vw;
        transition: .4s ease-in-out;
        margin-bottom: 4rem;

        @include mq(medium) {
            margin-bottom: 8rem;
        }
        @include mq(large) {
            height: 630px;
            margin-bottom: 0 !important;
        }
        @include mq(xlarge) {
            height: 740px;
        }
        @include mq(xxlarge) {
            height: 850px;
        }

    }

    .block-margin {
        @include mq(medium) {
            margin-top: 7rem;
            margin-bottom: 0;
        }
        @include mq(large) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .small-blocks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .align-text-top {
            justify-content: flex-start !important;
            padding-top: 4rem;

            .content {
                @include mq(large) {
                    padding-left: 30% !important;
                }
            }
        }

        .copy-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 0;
            margin-bottom: 0;

            @include mq(460px) {
                // margin-top: 3em;
                // margin-bottom: 5rem;
            }
            @include mq(480px) {
                // margin-top: 2em;
                // margin-bottom: 3.5rem;
            }
            @include mq(500px) {
                // margin-top: 5%;
                // margin-bottom: 10%;
            }
            @include mq(600px) {
                // margin-top: 1%;
                // margin-bottom: 5%;
            }
        }

        

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;

            @include mq(medium) {
                text-align: left;
            }
            @include mq(large) {
                padding-right: 20%;
            }
        }


        .small-block-top {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 40vw;
            transition: .4s ease-in-out;

            @include mq(medium) {
                height: 274px;
            }
            @include mq(xlarge) {
                height: 330px;
            }
            @include mq(xxlarge) {
                height: 384px;
            }
        }
        .small-block-bottom {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 40vw;
            transition: .4s ease-in-out;

            @include mq(medium) {
                height: 274px;
            }
            @include mq(xlarge) {
                height: 330px;
            }
            @include mq(xxlarge) {
                height: 384px;
            }
        }
    }

    .paragraph-block {
        padding: 6rem 0 3rem;
        text-align: center;

        @include mq(medium) {
            padding: 4rem 0 3rem;
        }

        @include mq(large) {
            padding: 4rem 0 3rem !important;
        }
    }
}