.content-scroll-slider {
    padding: 4rem 0 10rem;
    position: relative;

    @include mq(large) {
        padding: 4rem 0 9rem;
    }

    .content {
        text-align: center;
        padding: 0 0 2rem;

        @include mq(large) {
            padding: 0;
        }

    }

    .scrollPinCenter {
        top: 50% !important;
        transform: translateY(-50%);
        transition: transform .8s ease-in-out;
    }
    .scrollPinRevert {
        transform: translateY(0);
    }

    .swiper-wrapper {
        position: relative;
    }


    .scrollSlider {
        position: relative;
        height: 90vw;
        padding: 1rem 0;
        width: 100%;

        @include mq(480px) {
            height: 90vw ;
            padding: 3rem 08
        }
        @include mq(medium) {
            height: 65vw;
            padding: 3rem 0;
        }

        @include mq(large) {
            height: 60vw ;
            padding: 3rem 0;
        }
        @include mq(xlarge) {
            height: 45vw ;
            padding: 3rem 0;
        }
        @include mq(xxlarge) {
            height: 45vw ;
            padding: 3rem 0;
        }

        a {
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%);
            left: 50%;
            z-index: 300;
            .btn-black {
                padding: 1.19rem 2rem 1rem 2rem !important;
                height: auto !important;
 
                @include mq(medium) {
                     padding: .3rem 4rem 0 4rem !important;
                     height: 78px !important;
                }
             }
        }
       

        .scrollSlide {
            height: 100%;
            width: 100%;

            .btn-black {
               padding: .3rem 1.5rem 0 1.5rem !important;

               @include mq(medium) {
                    padding: .3rem 4rem 0 4rem !important;
               }
            }

            .author p {
                color: #010000;
                font-family: alternate-gothic-no-2-d, sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 14px;
                text-transform: uppercase;
                margin-top: .5rem;
                margin-left: .5rem;
            }
        }

        .image {
            position: relative;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            a  {
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            
                button {
                    
                }
            }
        }

        .slider-nav-wrapper {
            width: 130px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 3rem 0 ;

            p {
                text-transform: uppercase;
                text-align: center;
            }

            div {
                cursor: pointer;

                &:first-child {
                    width:50%;
                    position: relative;

                    img {
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        margin-bottom: 5px;
                    }
                }
                &:last-child {
                    position: relative;
                    width:50%;

                    img {
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        margin-bottom: 5px;
                    }
                }

                &:hover {
                    opacity: .6;
                }
            }
        }
    }
}