.event-block {
    padding: 4rem 0;
    position: relative;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            margin: 0 !important;
        }

        .cta {
            margin-top: 2rem;

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: $black;
                transition: .1s ease-in-out;

                p {
                    position: relative;
                    left: 10px;
                }

                &:hover {
                    opacity: .7;
                }
            }
        }
    }

    .content-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .content-block-wrapper {
            border: 2px solid $black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 3rem 0 2rem;
            width: 312px;
            text-align: center;
            p {
                font-family: alternate-gothic-no-2-d !important;
                text-transform: uppercase;
                font-size: 20px;
            }

            @include mq (large) {
                width: 412px; 
            }
        }
    }
}