.feature-slider {
    position: relative;

    .feature-slider-container {
        width: 100%;
        overflow: hidden;

        @include mq(large) {
            margin-top: .5rem;
        }
        

        .feature-image-container {

            .feature-image {
                width: 100%;
                height: auto;
            }

            .feature-video {
                width: 100%;
                height: 400px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;

                @include mq(large) {
                    height: 600px
                }


                .heading-1 {
                    color: $white !important;
                    margin-left: 2rem;
                    margin-top: 0;

                    @include mq(medium) {
                        margin-left: 5%;
                    }
                    @include mq(large) {
                        margin-left: 10%;
                    }
                }

                p {
                    width: 300px;
                    margin-left: 2rem;
                    color: $white !important;

                    @include mq(medium) {
                        width: 250px;
                    }
                    @include mq(large) {
                        width: 300px;
                        margin-left: 10%;
                    }
                }

                img {
                    align-self: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: 120px;
                    height: auto;

                    @include mq(medium) {
                        width: 90px;
                    }

                    @include mq(large) {
                        width: auto;
                    }
                }
            }
        
            .feature-content {
                width: 100%;
                height: auto;
                background: $green;
                color: $black;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 2rem 0;


                .content-wrapper {
                    width: 75%;
                    margin-left: 1.3rem;

                    @include mq(medium) {
                        margin-left: 3rem;
                    }

                    @include mq(large) {
                        margin-left: 5rem;
                    }

                    @include mq(xlarge) {
                        margin-left: 6rem;
                    }

                    @include mq(xxlarge) {
                        width: 500px;
                    }
                }
            }
        }       
    }

    .feature-video {
        a {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }

    .feature-slider-controls {
        position: absolute;
        bottom: 40px;
        right: 40px;
        z-index: 100;
    }


    .swiper-pagination-bullet {
        width: 20px !important;
        height: 20px !important;
        display: inline-block;
        border-radius: 100%;
        background: $white;
        opacity: 1 !important;
        margin: 0 .4rem;
        outline: none !important;
    }

    .swiper-pagination-bullet-active {
        background: $grey !important;
    }
}


.video-slider-height {
    height: 490px !important;
}