.gallery {
    padding: 4rem 0 0;

    .heading-1 {
        display: inline-block;
        text-align: center;
        width: 100%;
        padding-bottom: 3rem;
    }

    .gallery-wrapper {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);

        .gallery-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            .image {
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            p {
                text-transform: capitalize;
                padding: 2rem 0 0;
            }


        }

        .large {
            height: 500px;
        }
        .medium {
            height: 450px;
        }
        .small {
            height: 220px;
        }
    }
}