.image-callouts {
    margin-bottom: 2rem;
    padding: 6rem 0;
    position: relative;

    .content {
        text-align: center;
    }

    .callout-block {
        text-align: center;

        &:nth-child(1),
        &:nth-child(2) {
            padding-bottom: 3rem;
        }

        @include mq(medium) {
            &:nth-child(1),
            &:nth-child(2) {
                padding-bottom: 0;
            }
        }

        .heading-1 {
            padding-top: 2rem;
        }

        a {
            color: $black;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            &:first-child {
                width: 100%;
                height: 100%;
            }

            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                display: block !important;
            }

        }

        .image {
            transition: .4s ease-in-out;
            width: 100%;
            height: 277px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            overflow: hidden;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility:    hidden;
            -ms-backface-visibility:     hidden;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}