.instagram-block {
   padding-top: 6rem;
   padding-bottom: 6rem;
   text-align: center;

   .heading-2 {
       text-transform: uppercase;
   }
   
   .ig-block {

        .ig-spinner {
            display: none !important;
        }
   }

   #sb_instagram {
       padding-bottom: 0 !important;
      
   }
}