.shop-callout {
    padding-bottom: 3rem;
    padding-top: 5rem;

    .image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-bottom: 60%;

        @include mq(medium) {
            padding-bottom: 40%;
        }

        @include mq(large) {
            padding-bottom: 39%
        }
    }

    .content {
        padding: 3rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        @include mq(large) {
            padding: 0 1rem;
        }

        a {
            display: block;
        }
    }
}