.split-image-detail {
    padding-top: 3rem;

    @include mq(large) {
        padding-bottom: 6rem;
    }

    ul {
        li {
            font-family: mrs-eaves-xl-serif, serif;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
            line-height: 1.2 !important;
            text-rendering: optimizeLegibility;
        }
    }


    .image-block {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-bottom: 100%;

        
        @include mq(xlarge) {
            height: 740px;
            padding-bottom: 0;
        }
    }

    .links {
        margin: 4rem 0 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;

        @include mq(medium) {
            justify-content: space-around;
        }

        .link {
            margin-bottom: 1.5rem;
            margin-right: 1.5rem;

            @include mq(medium) {
                margin-right: 0;
            }
        }
    }

    .detail {
        padding: 4rem 0;
        @include mq(large) {
            padding: 0;
        }
        p {
            line-height: 1.6;
            width: 90%;

            @include mq(medium) {
                line-height: 1.3;
            }
            @include mq(xlarge) {
                line-height: 1.6;
            }
        }

        button {
            margin-top: 3rem;
        }
    }

    .paragraph-block {
        padding: 1rem 0 0;
        text-align: left;

        @include mq(medium) {
            padding: 1rem 0 0;
        }

        @include mq(large) {
            text-align: center;
            padding: 6rem 0 0;
        }
    }

}

.detail-right {
    .detail {
        
        p,
        .heading-1 {
            margin-right: 0 !important;
            width: 100%;

            @include mq(large) {
                padding-left: 20%;
                justify-content: flex-end !important;
            }
            @include mq(xxlarge) {
                padding-left: 40%;
            }
        }
    }
}

.detail-middle {
    .detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}