.club-intro {
    width: 100%;
}

.wine-club-feature-block {
    padding-bottom: 3rem;

    .content {
        padding-top: 6rem;
    }

    .wine-club-bottles {
        padding: 2rem 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .club-wine {
        padding: 2rem 0;
        width: 50%;
        position: relative;
        text-align: center;
        width: 170px;
        height: 369px;
        cursor: pointer;
        margin-bottom: 2rem;

        @include mq(large) {
            padding: 0;
            width: 110px;
            margin-bottom: 0;
        }

        @include mq(xlarge) {
            width: 130px;
        }

        @include mq(xxlarge) {
            width: 160px;
        }

        .bottle-up {
            transform: translateY(-15%);
        }

        img {
            transition: .4s ease-in-out;
            z-index: 2;
            position: relative;
            width: auto;
            height: 100%;
        }

        &:hover {
            img {
                transform: translateY(-15%);
            }
        }

        .wine-link {
            margin: 1rem 0 0 0;
            cursor: pointer;

            @include mq(large) {
                position: absolute;
                bottom: 10px;
                left: 0;
                right: 0;
                margin: auto;
                z-index: 1;
            }

            .btn-underline {
                font-size: 14px !important;
            }
        }
    }

    .wine-club-bottle-details {
        .club-detail {
            position: relative;
            padding: 6rem 0;
            background: $green;
            text-align: center;
            line-height: 1;
            transition: .4s ease-in-out;
            opacity: 0;

            p {
                width: 100%;
                padding: 0 1rem;
                position: relative;
                left: 50%;
                transform: translateX(-50%);

                @include mq(large) {
                    width: 60%;
                    padding: 0 1rem;
                }
            }

            .close {
                position: absolute;
                right: 20px;
                top: 20px;
                width: 30px;
                height: auto;
                cursor: pointer;

                &:hover {
                    opacity: .6
                }
            }
        }
    }

    .disclaimer {
        text-align: center;
        font-style: italic;

        p {
            margin-top: -2rem;
            padding: 0 !important;
        }

        .heading-3 {
            font-size: 25px !important;
        }

        .paragraph-2 {
            padding: 3rem 0 0;
        }

        br {
            display: none;

            @include mq(medium) {
                display: block;
            }
        }
    }
}